body {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5rem 3rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", serif, 'Times New Roman', Times, serif;
}

p {
    font-size: 1.2rem;
}

i {
    cursor: pointer;
    font-size: larger;
}
button {
    font-family: "Quicksand", serif, 'Times New Roman', Times, serif;
}
/* 
    when you click an icon make it have a dashed border effect instead of the button click effect - idea from figma
*/

.main {
    border: 1px black solid;
    border-radius: 1.6rem;
    padding: 3rem 1rem;
    background-color: white;
    margin: auto;
    width: 85%;
    overflow-y: auto;
    height: 28rem;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .main {
        width: 100%;
        height: 40rem;
    }
    body {
        padding: 6rem 2rem 4.5rem 2rem;
    }
}
@media screen and (min-width: 380px) and (max-width: 400px) {
    .main {
        width: 100%;
        height: 37rem;
    }
    body {
        padding: 5rem 2rem 4.5rem 2rem;
    }
}
/* @media screen and (min-width: 360) and (max-width: 750) {
    .main {
        width: 100%;
        height: 37rem;
    }
    body {
        padding: 5rem 2rem 4.5rem 2rem;
    }
} */
@media screen and (min-width: 200px) and (max-width: 380px) {
    .main {
        width: 100%;
        height: 32rem;
    }
    body {
        padding: 4rem 1.5rem 4.5rem 1.5rem;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .main {
        width: 100%;
        height: 52rem;
    }
    body {
        padding: 7rem 3.5rem 4.5rem 3.5rem;
    }
}
@media screen and (width: 1024px) and (height: 1366px) {
    .main {
        width: 100%;
        height: 59rem;
    }
    body {
        padding: 8rem 4rem 4.5rem 4rem;
    }
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
    .main {
        width: 100%;
        height: 22rem;
    }
    body {
        padding: 4rem;
    }
}


.main::-webkit-scrollbar {
    display: none;
}


.header {
    border-bottom: 2px grey solid;
    margin-bottom: 45px;
    text-align: center;
}

.instructions-section p {
    font-style: italic;
    font-weight: 700;
    font-size: large;
}

.add {
    font-size: medium;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
    position: sticky;
    bottom: 0;
    box-shadow: 5px 5px 3px grey;
    font-family: "Quicksand", serif, 'Times New Roman', Times, serif;
}
.add:active {
    transform: translateY(4px);
}

input {
    font-size: medium;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 7px;
}

ol {
    padding-left: 1rem;
}

