a {
    text-decoration: none;
    color: black;
}

.courses-list {
    display: grid;
    grid-auto-rows: auto;
    margin-bottom: 1.5rem;
}


.course-00 {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.del-butt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.del {
    cursor: pointer;
    margin-left: 10px; 
}