a {
    text-decoration: none;
    color: black;
}

.add-q {
    font-size: small;
    padding: 0.7rem 0.3rem;
    border-radius: 0.5rem;
}

#quest-intro {
    display: inline;
    font-size: larger;
    font-weight: 500;
}

.questions {
    display: grid;
    grid-auto-rows: auto;
    margin-bottom: 30px;
}

.question-00 {
    border-bottom: 1px grey solid;
    font-size: 1.5rem;
    font-style: italic;
}

.practice {
    font-size: medium;
    padding: 0.8rem 0.4rem;
    border-radius: 0.7rem;
}